@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

p {
  color: black;
}

h1 {
  color: #54c7b1;
  font-family: "Cabin Sketch", sans-serif;
  font-size: 3rem;
}

h2 {
  color: black;
  font-size: 2.5rem;
  margin-top: 0.75rem;
  padding-bottom: 5rem;
  font-family: "Cabin Sketch", sans-serif;
}

h3 {
  color: #54c7b1;
  font-size: 1.5rem;
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

.container {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.experience-container {
  background: #F6F6F6;
}

.goals-container {
  background: none;
}

.interest-container {
  background: #54c7b1;
}

.interest-container h2 h3 {
  color: white;
}

.interest-container h3 {
  color: white;
}

.footer-container {
  background-color: #F6F6F6;
  width: 100%;
  padding-top: 2rem;
  text-align: center;
}

.footer-container img {
  width: 2%;
}

.flexbox {
  display: flex;
  justify-content: space-evenly;
}

.button {
  color: white;
  border: 0;
  background: #54c7b1;
  border-radius: 20px;
  padding: 1rem;
  width: 20%;
  /*nested elements */
}
.button .button-link {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}
.button .button-link:hover {
  color: black;
  font-family: "Poppins", sans-serif;
}

nav {
  /*nested elements */
}
nav ul {
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-end;
  margin: 0.75rem;
  list-style-type: none;
}
nav li a {
  color: black;
  text-decoration: none;
  text-align: right;
  padding: 0 2em 0 0;
  font-size: 1rem;
}
nav li a:hover {
  color: #54c7b1;
}