// nav

nav ul {
  width: 40%;
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-end;
  margin: $base-margin;
}

nav ul li a {
  color: $secondary;
  text-decoration: none;
  text-align: right;
  padding: $nav-padding;
  font-size: 1rem;
}

nav ul li a:hover {
  color: $primary;
}


ul {
  list-style-type: none;
}


// font styles

body {
  font-family: $poppins;
}

p {
  color: $secondary;
}

a {
  font-size: 1.5rem;
  color: $quadrary;
  text-decoration: none;
}



h1 {
  color: $primary;
  font-family: $cabin;
  font-size: 3rem;
}


h2 {
  color: $secondary;
  font-size: 2.5em;
  margin-top: $base-margin;
  padding-bottom:$base-padding;
  font-family: $cabin;
  }

h3 {
  color: $primary;
  font-size: 1.5em;
  font-weight: normal;
  }

h4 {
  font-weight: normal;
  }


// containers

.container {
  width: 100%;
  padding-top:$base-padding;
  padding-bottom:$base-padding;
  text-align: center;
}

.experience-container {
    background: $tertiary;
}

.goals-container {
  background: none;
}

.interest-container {
  background: $primary;
}

.interest-container h2 h3 {
  color: $quadrary;
}

.interest-container h3 {
  color: $quadrary;
}

.footer-container {
  background-color: $tertiary;
  width: 100%;
  padding-top:$footer-padding;
  text-align: center;
}

.footer-container img {
  width: 2%;
}


