// themes Colors
$primary: #54c7b1;
$secondary: black;
$tertiary: #F6F6F6;
$quadrary: white;

// fonts variables  
$poppins: 'Poppins', sans-serif;   
$cabin: 'Cabin Sketch', sans-serif;

// spacing
$base-padding: 5rem;
$button-padding: 1rem;
$footer-padding: 2rem;
$nav-padding: 0 2em 0 0;
$base-margin: 0.75rem;