// themes Colors
$primary: #54c7b1;
$secondary: black;
$tertiary: #F6F6F6;
$quadrary: white;

// spacing
$base-padding: 5rem;
$button-padding: 1rem;
$footer-padding: 2rem;
$nav-padding: 0 2em 0 0;
$base-margin: 0.75rem;
$base-width: 100%;

// fonts variables  
$poppins: 'Poppins', sans-serif;   
$cabin: 'Cabin Sketch', sans-serif;

// fonts sizes  
$base-font-size: 2rem;
$font-size-xl: $base-font-size * 1.5;
$font-size-lg: $base-font-size * 1.25;
$font-size-sm: $base-font-size * 0.75;
$nav-font-size: $base-font-size * 0.5;

